.app-sidebar {
  background: linear-gradient(294.17deg, rgb(47, 25, 55) 35.57%, rgb(69, 38, 80) 92.42%, rgb(69, 38, 80) 92.42%);
  color: rgb(149, 134, 165);
  line-height: 1;
  padding: 12px 0px 2px;

  &-link {
    padding: 0;
    min-height: 30px;
    position: relative;

    &-container {
      width: 100%;
      height: 100%;
      min-height: 30px;
    }

    &-a {
      height: 100%;
      width: 100%;
      min-height: 30px;
      display: flex;
      align-items: center;
      padding-right: 8px;

      &:hover {
        & {
          color: rgb(255, 255, 255);
          background-color: rgba(255, 255, 255, 0.085);
          border-radius: 6px;
        }

        .app-sidebar-link-icon-svg {
          color: rgb(255, 255, 255);
        }

        .app-sidebar-link-title {
          color: rgb(255, 255, 255);
        }
      }
    }

    &-icon {
      display: inline-block;
      width: 37px;
      flex-shrink: 0;

      &-svg {
        margin: 0 auto;
        width: 18px;
        height: 18px;
      }

      &-collapse {
        width: 14px;
        height: 14px;
        fill: none;
        stroke: currentcolor;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: calc(1.225px);
      }
    }

    &-title {
      margin-left: 10px;
      white-space: nowrap;
      opacity: 1;
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: 15px;
    }

    &-collapse-button {
      position: relative;
      display: inline-block;
      text-transform: none;
      font-weight: 600;
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 0.875rem;
      line-height: 1rem;
      box-shadow: none;
      cursor: pointer;
      transition: background 0.1s, border 0.1s, box-shadow 0.1s;
      min-height: auto;
      height: calc(100% - 8px);
      margin: 0px -4px;
      padding: 0px 6px;
      border-radius: calc(4px);
      color: rgb(128, 112, 143);

      &-active {
        .app-sidebar-link-collapse-svg {

          transform: rotate(0deg);
        }
      }
    }

    &-collapse-svg {
      transform: rotate(180deg);
    }

    &-sub-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 37px;

      &-dot {
        width: 3px;
        height: 3px;
        background: currentcolor;
        border-radius: 50%;
        opacity: 1;
      }
    }

    &-sub-item-title {
      margin-left: 10px;
      white-space: nowrap;
      opacity: 1;
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: 15px;
    }

    &-active {
      &:hover {
        .app-sidebar-link-a {
          background-color: rgba(255, 255, 255, 0.12);
          border-radius: 6px;

          .app-sidebar-link-icon-svg {
            color: rgb(255, 255, 255);
          }

          .app-sidebar-link-title {
            color: rgb(255, 255, 255);
          }
        }
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 4px;
        left: calc(-17px);
        bottom: 6px;
        width: 5px;
        border-radius: 0px 3px 3px 0px;
        background-color: rgb(108, 95, 199);
        transition: background-color 0.15s linear;
        z-index: 1;
      }

      & {
        background-color: rgba(255, 255, 255, 0.12);
        border-radius: 6px;

        .app-sidebar-link-icon-svg {
          color: rgb(255, 255, 255);
        }

        .app-sidebar-link-title {
          color: rgb(255, 255, 255);
        }
      }

      .app-sidebar-link-sub-item-dot {
        background: rgb(255, 255, 255);
      }

      .app-sidebar-link-sub-item-title {
        color: rgb(255, 255, 255);
      }
    }
  }

  &-collapse {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.085);
      border-radius: 6px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 37px;
      transform: rotate(-90deg);

      svg {
        display: block;
        margin: 0px auto;
        width: 18px;
        height: 18px;
      }
    }

    &-title {
      margin-left: 10px;
      white-space: nowrap;
      opacity: 1;
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: 15px;
    }

    &-active {
      .app-sidebar-collapse-icon {
        transform: rotate(90deg);
      }
    }
  }
}