.alert-info {
  display: grid;
  grid-template-columns: minmax(0px, max-content) minmax(0px, 1fr);
  gap: 8px;
  margin: 0px 0px 16px;
  color: rgb(37, 98, 212);
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid rgba(60, 116, 221, 0.5);
  background: rgba(60, 116, 221, 0.09);
  padding: 12px 16px;

  &-icon {
    display: flex;
    align-items: center;
    height: calc(19.6px);
  }

  &-text {
    position: relative;
    line-height: 1.4;
  }

  &-link {
    color: rgb(37, 98, 212);
    text-decoration: underline 0.08em solid rgba(60, 116, 221, 0.5);
    text-underline-offset: 0.06em;
  }
}