.performance-table {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid rgb(224, 220, 229);
  margin-bottom: 16px;
  position: relative;
  overflow: auto hidden;
  z-index: 1;

  &-header {
    height: 45px;
    color: rgb(128, 112, 143);
    background: rgb(250, 249, 251);

    &-th {
      padding: 0 16px;

      &:first-of-type {
        padding: 8px 0 8px 20px;
      }
    }

    &-star {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-body {
    &-tr{
      white-space: nowrap
    }
    &-td {
      height: 43px;
      padding: 8px 16px;
      color: rgb(62, 52, 70);
      font-variant-numeric: tabular-nums;
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;

      &:first-of-type {
        padding: 8px 0 8px 20px;
      }
    }

    &-star {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &-link {
      text-decoration: none;
      color: rgb(37, 98, 212);
      cursor: pointer;

    }

    &-project {
      display: flex;
      gap: 6px;
      align-items: center;
    }

    &-users {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 4px;

      &-icon {
        width: 14px;
        height: 14px;
      }
    }

    &-users-misery {
      max-width: 80px;
      margin-left: auto;
      gap: 2px;
      align-items: center;

      &-item {
        display: inline-block;
        border-radius: 0px;
        margin: 2px;
        background-color: rgb(226, 222, 230);
        width: 4px;
        height: 20px;
        line-height: 43px;
        &-active {
          background-color: rgb(68, 70, 116);
        }
      }
    }
  }
}